<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
    </link>
    <title>Daniel's Random Assortment of Goods</title>
</head>

<body id="bodyContent">
    <div id="bodyContainer">
        <div>
            <header> <!-- Can also be considered Nav-->
                <a href="#" id='home' v-on:click='openStart'>Start ‖</a> <!--Opens Start Page-->
                <a href="#" id='products' v-on:click='openProduct'> Products ‖</a> <!--Opens Products Page-->
                <a href="#" id="shoppingCart" v-on:click="openCart"> Cart ‖</a> <!--Opens Cart Page-->
                <a href="#" id="admin" v-on:click="openAdmin"> Admin ‖</a> <!-- Opens Admin Page-->
                <p id="shoppingCartAmount">{{shoppingCartAmount}}</p> 
            </header>
            
            <div id="introductionComponent" v-show="tab == 'start'"> <!-- Navigation to Start page-->
                <introduction></introduction>  <!--About Us Component in Start page-->
                <specialproducts></specialproducts> <!-- Special Products Component in Start page-->

            </div>
        </div>

        <div id="cartPage" v-if="tab == 'cart'" v-show="tab"> <!-- Navigates to Purchase page-->
                <shoppingcartpage/>
        </div>

        <div id="productPage" v-if="tab == 'products'" v-show="tab"> <!-- Navigates to Products page-->
                <productspage></productspage> <!--THIS WORKS NOW!-->
                <subcookiespage v-if="subcategory == 'cookie'" v-show="subcategory"></subcookiespage>
                <subcollectiblespage v-if="subcategory == 'collectible'" v-show="subcategory"></subcollectiblespage>
                <subgamespage v-if="subcategory == 'games'" v-show="subcategory"></subgamespage>
        </div> <!-- Category tabs can have their own href and v-on:click stuff! Think Products as a category, and cookies as subcategory! -->

        <div id="adminPage" v-if="tab == 'admin'" v-show="tab"> <!-- Navigates to Admin page-->
        <adminpage></adminpage>
        <adminaddpage v-if="adminpage == 'add'" v-show="adminpage"></adminaddpage>
        </div>

        <div id="footerComponent"> <!-- Footer listing Contact Information-->
            <vuefooter/>
        </div>

    </div>

   <!--<script src=components.js></script>--> 
    <script src="js.js"></script>
</body>

</html>